@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Game Landing Page</title>
        <link rel="stylesheet" href="site.css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
    <body>
            <div class="container-fluid">
                <div class="background-image"></div>
                <div class="text-container text-center">
                    <h1>BEST GAMES IN EVERY PLATFORM</h1>
            <p class="description">Explore a selection of exceptional games, carefully chosen for their immersive gameplay, engaging narratives, and overall excellence.</p>
                </div>
            </div>


    </body>

 </html>
