@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="container-fluid header-container">
        <h1 class="border-bottom text-center">BEST NINTENDO SWITCH GAMES</h1>
    </div>
    <div class="container">
        <div class="row photo-gallery justify-content-center">
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/zelda.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>The Legend of Zelda: Breath of the Wild</h3>
                        <p>A sprawling open-world masterpiece that redefined the Zelda formula, offering incredible freedom of exploration and experimentation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/mario.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Super Mario Odyssey</h3>
                        <p>Mario's globe-trotting adventure bursting with creativity, where you capture enemies and objects with Cappy, your sentient hat companion.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/metroid.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Metroid Dread</h3>
                        <p>A return to form for the classic series, Metroid Dread delivers tense side-scrolling exploration, atmospheric environments, and the relentless threat of the E.M.M.I. robots.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/animal.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Animal Crossing</h3>
                        <p>The ultimate relaxing getaway - create your own island paradise, befriend adorable villagers, and customize to your heart's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/pokemon.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Pokémon Legends: Arceus</h3>
                        <p>A bold new direction for the Pokémon series, focusing on open exploration and catching Pokémon in a historical Sinnoh region.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/mariokart.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Mario Kart 8 Deluxe</h3>
                        <p>The definitive Mario Kart experience with tons of tracks, characters, and chaotic kart-racing fun perfect for all ages.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/splatoon.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Splatoon 3</h3>
                        <p>
                            Nintendo's unique take on the shooter genre where the goal is to cover the most ground in your team's ink color. Frantic 4v4 turf wars and a quirky style all its own.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/xenoblade.png"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Xenoblade Chronicles 3</h3>
                        <p>
                            A massive JRPG with a deep, complex combat system, intertwining stories of two warring nations, and vast environments to explore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/bayoneta.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Bayonetta 3</h3>
                        <p>Stylish, over-the-top action as the sassy witch Bayonetta battles angels and demons with hair-powered attacks and summons.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/astralchain.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Astral Chain</h3>
                        <p>PlatinumGames delivers another fast-paced action title where you fight alongside a captured alien creature called a Legion, utilizing its unique abilities in combat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/fire.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Fire Emblem: Three Houses</h3>
                        <p>Tactical turn-based strategy with social elements. Develop relationships with your students  as you guide them on the battlefield and shape their futures.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/supersmash.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Super Smash Bros. Ultimate</h3>
                        <p>The ultimate crossover fighting game with a staggering cast of characters from across Nintendo's games and beyond.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/monsterrise.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Monster Hunter Rise</h3>
                        <p>
                            Hunt giant fantastical creatures, craft powerful gear from your spoils, and tackle challenging fights either solo or with friends.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/ring.jpg"   alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Ring Fit Adventure</h3>
                        <p>Turn exercise into an RPG adventure with this unique fitness game and the Ring-Con accessory.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/luigi.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Luigi's Mansion 3</h3>
                        <p>Help the cowardly Luigi overcome his fears and rescue Mario from a haunted hotel, solving puzzles with his trusty Poltergust vacuum cleaner.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/triangle.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Triangle Strategy</h3>
                        <p>
                            A deep tactical RPG with beautiful HD-2D visuals and a story driven by difficult moral choices that affect the narrative.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/kirby.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Kirby and the Forgotten Land</h3>
                        <p>Kirby's first fully 3D platforming adventure is brimming with charm, creative transformations, and delightful platforming.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/mariohope.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Mario + Rabbids Sparks of Hope</h3>
                        <p>
                            This sequel to the surprise hit brings even more tactical depth and intergalactic exploration to the mix.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/octopath.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Octopath Traveler</h3>
                        <p> A classic-style JRPG with a gorgeous HD-2D aesthetic and eight unique protagonists with their own stories to explore.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/shin.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Shin Megami Tensei V</h3>
                        <p>A challenging JRPG set in a post-apocalyptic Tokyo. Recruit demons to your side and navigate a world between light and darkness.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
