@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>



<div class="container">
    <div class="container-fluid header-container">
        <h1 class="border-bottom text-center">BEST PC GAMES</h1>
    </div>
<div class="container">
    <div class="row photo-gallery justify-content-center">
        <div class="col-md-4">
            <div class="image-overlay">
                <img src="/images/eldenRing.jpg" alt="Elden Ring" class="img-fluid">
                <div class="overlay-content">
                    <h3>Elden Ring</h3>
                    <p>An epic open-world action RPG from FromSoftware.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-overlay">
                <img src="/images/sekiro.jpg" alt="Elden Ring" class="img-fluid">
                <div class="overlay-content">
                    <h3>Sekiro</h3>
                    <p>A shinobi's tale of visceral combat and revenge in feudal Japan from FromSoftware</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-overlay">
                <img src="/images/dota.jpg" alt="Elden Ring" class="img-fluid">
                <div class="overlay-content">
                    <h3>Dota 2</h3>
                        <p>A complex and captivating multiplayer online battle arena (MOBA) game from Valve</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="image-overlay">
                <img src="/images/l4d.jpg" alt="Elden Ring" class="img-fluid">
                <div class="overlay-content">
                    <h3>Left 4 Dead 2</h3>
                    <p>A thrilling cooperative zombie survival shooter from Valve.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/monsterhunter.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Monster Hunter World</h3>
                        <p>Hunt colossal beasts in a vibrant, living ecosystem.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/blasphemous.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Blashpemous</h3>
                        <p>A brutal, gothic Metroidvania steeped in dark religious imagery.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/baldursGate.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Baldurs Gate 3</h3>
                        <p>A next-generation RPG set in the Forgotten Realms, from the creators of Divinity: Original Sin.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/gta5.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>GTA V</h3>
                        <p>Experience open-world action on a massive scale.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/assasinscreed.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Assasins Creed Odyssey</h3>
                        <p>From Ubisoft is a sprawling action RPG that transports you to the vibrant world of Ancient Greece.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/redDead2.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Red Dead Redemption 2</h3>
                        <p>Critically-acclaimed open-world action-adventure game set in the fading days of the American Wild West.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/cod3.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Call of Duty Modern Warfare 3</h3>
                        <p>A first-person shooter from Activision that directly continues the storyline from Modern Warfare 2.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/subnautica.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Subnautica </h3>
                        <p>Crash-land on an alien ocean planet and scavenge to build the tools you need to survive. Explore a vast underwater world full of both wonder and terror as you unravel the mystery of what happened to this planet.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/minecraft.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Minecraft</h3>
                        <p>Build, explore, and survive in a world of infinite possibilities.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/residentevil.png"" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Resident Evil Village</h3>
                        <p>A survival horror first-person shooter from Capcom, and a direct sequel to Resident Evil 7: Biohazard.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/tombraider.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Tomb Raider</h3>
                        <p> Shipwrecked on a mysterious island, a young and inexperienced Lara Croft is pushed to the edge as she fights for survival against a dangerous cult.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/deathstranding.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Death Stranding</h3>
                        <p>An open-world action-adventure game from legendary game designer Hideo Kojima (Metal Gear Solid).</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/csgo.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>CSGO</h3>
                        <p>A first-person shooter video game developed by Hidden Path Entertainment and Valve.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/littlenightmares.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Litte Nightmares</h3>
                        <p>A puzzle-platformer horror adventure game developed by Tarsier Studios. You play as Six, a tiny, hungry girl trapped in a mysterious and terrifying vessel called The Maw.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/theWitcher3.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>The Witcher 3</h3>
                        <p>A sprawling open-world action RPG based on the fantasy novels by Andrzej Sapkowski.</p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/outlast.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Outlast</h3>
                        <p>A terrifying descent into a hellish asylum.</p>
                    </div>
                </div>
        </div>

    </div>
</div>
</div>
