@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="container-fluid header-container">
        <h1 class="border-bottom text-center">BEST PLAYSTATION GAMES</h1>
    </div>
    <div class="container">
        <div class="row photo-gallery justify-content-center">
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/ghost.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Ghost of Tsushima</h3>
                        <p> A Samurai's Journey for Honor and Freedom.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/bloodborne.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Bloodborne</h3>
                        <p>FromSoftware's dark gothic masterpiece with challenging combat and a haunting, Lovecraftian world.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/crashbandicoot.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Crash Bandicoot</h3>
                        <p>Crash Bandicoot is a classic video game franchise starring a goofy, mutated bandicoot named Crash.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/ffr.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Final Fantasy Remake</h3>
                        <p>Final Fantasy VII Remake is a bold recreation of the iconic 1997 PlayStation JRPG, Final Fantasy VII.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/gow.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>God of War</h3>
                        <p>Kratos finds himself in the mystical lands of Norse mythology, seeking a quieter life with his young son, Atreus. However, when his wife passes away, Kratos and Atreus embark on a perilous journey to honor her last wish and scatter her ashes from the highest peak in the realms.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/grandturismo.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Gran Turismo</h3>
                        <p>Gran Turismo is a series of racing simulation video games developed by Polyphony Digital and published by Sony Interactive Entertainment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/horizon.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Horizon Zero Dawn</h3>
                        <p>
                            Unravel the mysteries of a world ruled by machines
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/horizon2.jpg"" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Horizon Forbidden West</h3>
                        <p>The epic sequel to Horizon Zero Dawn, developed by Guerrilla Games. Picking up directly after the first game, Aloy journeys westward to a ravaged and unfamiliar land in search of a way to stop a devastating blight.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/re2.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Resident Evil 2: Remake</h3>
                        <p>A complete reimagining of the 1998 survival horror classic. This ground-up remake preserves the core story and characters of the original while upgrading every aspect for modern gaming.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/shadow.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Shadow of the Colossus</h3>
                        <p>A haunting and beautiful experience about taking down massive, awe-inspiring creatures.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/silenthill.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Silent Hill</h3>
                        <p>A desperate father searching for his missing daughter Cheryl in the mysterious fog-shrouded town of Silent Hill.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/spiderman.jpeg"" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Spiderman 2</h3>
                        <p>The sequel to 2018's smash-hit Marvel's Spider-Man and its follow-up spin-off, Marvel's Spider-Man: Miles Morales. Developed by Insomniac Games</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/tlou.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>The Last of Us</h3>
                        <p>
                            Set in a post-apocalyptic United States ravaged by a fungal infection that turns humans into monstrous creatures, it focuses on themes of survival, loss, and the bonds forged in desperate times.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/uncharted.jpg" " alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Uncharted 4: A Thief's End</h3>
                        <p>It's the fourth and final installment of the main Uncharted series, continuing the thrilling adventures of treasure hunter Nathan Drake.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/nioh.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Nioh</h3>
                        <p>A brutal, challenging action RPG set in Sengoku-era Japan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/persona.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Persona 5</h3>
                        <p>Persona 5 is a critically acclaimed JRPG (Japanese Role-Playing Game) developed by Atlus. It combines traditional turn-based combat with social simulation elements, all presented with a uniquely stylish flair that sets it apart.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/demonsouls.jpg"" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Demon Souls</h3>
                        <p>The challenging action RPG that started the "Soulsborne" genre, beautifully remade for PS5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/ragnarok.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>God of War: Ragnarok</h3>
                        <p>The epic conclusion to Kratos and Atreus' Norse saga.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/nioh2.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Nioh 2</h3>
                        <p> It is a prequel to Nioh, set in the Sengoku period of Japan, a time of civil war and political upheaval.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/untildawn.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Until Dawn</h3>
                        <p>A cinematic horror game where your choices directly determine who survives.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
