@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="container-fluid header-container mb-5">
        <h1 class="border-bottom text-center">BEST UNDERRATED GAMES IN EVERY PLAYTFORM</h1>
    </div>
    <div class="container">
        <div class="container-fluid header-container">
            <h1 class="border-bottom text-center">BEST UNDERRATED GAMES IN PC</h1>
        </div>
        <div class="row photo-gallery justify-content-center">
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/firewatch.jpg" alt="Firewatch" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Firewatch</h3>
                        <p>Firewatch is a first-person narrative adventure game from Campo Santo, where you play as Henry, a man who retreats into the Wyoming wilderness to work as a fire lookout.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/metro.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Metro: Last Light</h3>
                        <p>Set in the ruins of a post-apocalyptic Moscow, you play as Artyom, fighting to survive in the underground Metro tunnels against mutated threats and warring human factions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/wayout.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>A Way Out</h3>
                        <p>A Way Out is a co-op only action-adventure game from Hazelight Studios, designed uniquely for split-screen play. You and a partner control convicts Leo and Vincent, working together to break out of prison and evade authorities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/deeprock.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Deep Rock Galactic</h3>
                        <p>Deep Rock Galactic is a co-op first-person shooter from Ghost Ship Games where you play as a team of dwarven space miners on the hazardous planet of Hoxxes IV. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/specops.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Spec Ops: The Line</h3>
                        <p>Spec Ops: The Line is a third-person shooter from Yager Development that subverts typical military shooter tropes. Set in a sandstorm-ravaged Dubai, you play as Captain Walker, leading a squad on a recon mission gone horribly wrong.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid header-container">
                <h1 class="border-bottom text-center">BEST UNDERRATED GAMES IN PLAYSTATION</h1>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/gravity.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Gravity Rush 2</h3>
                        <p>Gravity Rush 2 is a stylish open-world action-adventure game from Japan Studio where you once again play as Kat, a young woman with the ability to manipulate gravity. Explore sprawling cities, uncover secrets, and protect citizens from the monstrous Nevi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/hellblade.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Hellblade: Senua's Sacrifice</h3>
                        <p>Hellblade: Senua's Sacrifice is an experimental action-adventure game from Ninja Theory that delves into the raw experience of psychosis. Play as Senua, a Celtic warrior battling through a personal hell to save the soul of her lover.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/yakuza.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Yakuza 0</h3>
                        <p>Play as young Kazuma Kiryu and Goro Majima and fight your way through the gritty underworld of Kamurocho and Osaka.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/sleepingdogs.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Sleeping Dogs</h3>
                        <p>Sleeping Dogs is an open-world action-adventure game set in a detailed recreation of Hong Kong. Play as Wei Shen, an undercover cop infiltrating the Triad gangs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/returnal.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Returnal</h3>
                        <p>Returnal is a third-person roguelike shooter developed by Housemarque. You play as Selene, an astronaut stranded on a shapeshifting alien planet, trapped in a time loop of death and resurrection.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid header-container">
                <h1 class="border-bottom text-center">BEST UNDERRATED GAMES IN XBOX</h1>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/quantum.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Quantum Break</h3>
                        <p>Quantum Break is a cinematic action-adventure game from Remedy Entertainment that blends live-action episodes with third-person gameplay.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/prey.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Prey (2017)</h3>
                        <p>Prey is an immersive sim first-person shooter from Arkane Studios, set aboard the Talos I space station overrun by a hostile alien force. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/tactics.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Gears Tactics</h3>
                        <p>Gears Tactics is a turn-based tactical spin-off of the Gears of War series. Set years before the original games, lead Gabe Diaz and a squad of survivors as they battle against the emergent Locust horde.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/enslaved.jpg" " alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Enslaved: Odyssey to the West</h3>
                        <p>Enslaved: Odyssey to the West is a post-apocalyptic action-adventure game from Ninja Theory, loosely inspired by the classic Chinese tale "Journey to the West."</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/marvel.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Marvel's Midnight Suns</h3>
                        <p>a tactical role-playing game developed by Firaxis Games, the studio known for the XCOM series. It features comic book characters from multiple Marvel properties, including Midnight Sons, Avengers, X-Men, and Runaways.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid header-container">
                <h1 class="border-bottom text-center">BEST UNDERRATED GAMES IN NINTENDO SWITCH</h1>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/AI.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>AI: The Somnium Files</h3>
                        <p>A visual novel adventure game from Spike Chunsoft. You play as Kaname Date, an agent of ABIS (Advanced Brain Investigation Squad), who can delve into the subconscious minds of suspects to uncover clues and solve bizarre murders.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/overcooked.png" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Overcooked 2</h3>
                        <p>a chaotic, cooperative cooking simulator from Ghost Town Games. Team up with up to 4 players locally or online to frantically prepare dishes in absurd kitchens facing increasingly bizarre obstacles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/dragon.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Dragon Quest Builders 2</h3>
                        <p>A sandbox building RPG set in the beloved Dragon Quest universe. It blends the block-building and exploration of Minecraft with the characters, monsters, and classic JRPG elements of Dragon Quest.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/powerwash.jpg" alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>PowerWash Simulator</h3>
                        <p>A relaxing and satisfying simulation game from FuturLab. Take on various cleaning jobs and turn filthy objects, buildings, and vehicles sparkling clean using your trusty power washer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-overlay">
                    <img src="/images/heave.jpg"  alt="Elden Ring" class="img-fluid">
                    <div class="overlay-content">
                        <h3>Heave Ho</h3>
                        <p>A wacky physics-based party game from Le Cartel Studio.  Up to four players control limbless characters, using only their stretchy arms to swing, fling, and grapple across increasingly ridiculous levels. Cooperation is a must to reach the goal!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
